In [1]:
from sqlalchemy import create_engine
import sqlalchemy
import psycopg2
# import confuse
import os

In [2]:
from dynaconf import settings

In [6]:
DB_URL = f'postgresql+psycopg2://{settings.USERNAME}:{settings.PASSWORD}@{settings.HOST}:{settings.PORT}/{settings.DATABASE}'

In [7]:
db = create_engine(DB_URL)

In [8]:
db.execute("CREATE TABLE IF NOT EXISTS films (title text, director text, year text)")

In [9]:
db.execute("INSERT INTO films (title, director, year) VALUES ('Doctor Strange', 'Scott Derrickson', '2016')")

In [11]:
result_set = db.execute("SELECT * FROM films")  
for r in result_set:  
    print(r)

('Some2016Film', 'Scott Derrickson', '2016')

In [10]:
db.execute("UPDATE films SET title='Some2016Film' WHERE year='2016'")

In [ ]:
db.execute("DELETE FROM films WHERE year='2016'")